<div class="">
  <div class="container">
    <div class="">
      <div *ngIf="pageBody&&pageBody.slug=='home'" class="content-block">
        <div class="title">
          <h3 class="mb-30"> Making Hope Real Since 1986</h3>
          <h1 class="heading"> 24 Hour Hotline {{pageContent.phoneNumber1}} or {{pageContent.phoneNumber2}}</h1>
          <h4> Emails will be answered within three business days. You can also reach us 
          now by text: {{pageContent.phoneNumber3}}</h4>
        </div>
        <h5 class="ac"> We all deserve to enjoy our lives and feel safe in our homes and with our 
          dating partners. Let your family and friends know it's okay to talk about abuse that 
          happens in their relationships. Call ANHC to talk about these issues and discuss options 
          available.Help ANHC and the people we serve by shopping!  When you already use Amazon, 
          register through amazon smile and seamlessly have small donations go directly to ANHC.</h5>
        <h5 class="ac"> If you can help, please click on our donation tab at the top. Every little 
          bit helps, and it's a way for all of us to lend our voice for safety and peace.</h5>
      </div>
      <div *ngIf="pageBody&&pageBody.slug=='service'">
          <div class="service">
              <div> Welcome! Thank you for your interest in promoting respect, equality, and freedom for 
                everyone. We are pleased to share with you this commitment, and in the pages that follow, 
                we'll describe how we work to create safer homes and stronger families. We'll acknowledge 
                the problems, we'll encourage the acceptance of responsibility, and we'll offer insights 
                into the remediation of them.</div>
              <div> We'll show the nature of prevention and how it corresponds to intervention strategies. 
                Please click on the items of most interest to you at this time.</div>
            </div>
      </div>
    </div>
  </div>
  </div>
