extends layout

block content
	
	h1 Welcome User to #{title}
	h2 Enter name to create user!
	form(method = 'post' action='/create')
		input(type='text' name='name')
		input(type='submit')

	if users
		h2 Search results are as follow:
		ul
			each val in users
				li= val.name
			else
				li There are no values
	else
		h2 Enter name of user to search 
		form(method = 'get' action='/find')
			input(type='text' name='name')
			input(type='submit')

	h2 Enter name to update user!
	form(method = 'post' action='/update')
		input(type='text' name='original_name' placeholder='Original Name')
		input(type='text' name='updated_name' placeholder='Updated Name')
		input(type='submit')

	h2 Enter name to be deleted user!
	form(method = 'post' action='/delete')
		input(type='text' name='name')
		input(type='submit')

	div(ng-view)