extends layout

block content
	div(class="header")
		span(class="header_cell") 
			h3 Home
		span(class="header_cell") 
			h3 Services
		span(class="header_cell") 
			h3 Education
		span(class="header_cell") 
			h3 Friends
		span(class="header_cell") 
			h3 Partner
		span(class="header_cell") 
			h3 In Memory
		span(class="header_cell") 
			h3 Donate
		span(class="header_cell") 
			h3 About Us

	block footer
	div(ng-view)